pbr>=1.6 # Apache-2.0
testtools
requests
sphinx>=1.6.2  # BSD
openstackdocstheme>=1.17.0  # Apache-2.0
oslosphinx!=3.4.0,>=2.5.0 # Apache-2.0
paramiko
python-muranoclient
python-heatclient
python-novaclient
reno>=0.1.1  # Apache2
